table {
    border-collapse: collapse;
    margin-right: 16px;
}
td, th {
    border: 2px solid black;
}
body {
    background-image: url("/static/images/background_list.jpg");
    width: 99%;
    height: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: lightgrey;
    color: black;
}
h2 {
    margin: 5px;
    padding: 5px;
}
table {
    margin: 1px;
    padding: 1px;
    background-color: lightcyan;
    color: black;
}
