
table {
    border-collapse: collapse;
}
td, th {
    border: 2px solid black;
}
body{
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/25/30/lQWjXx.jpg");
    width: 100%;
    height: 100%;

}
h1{
    margin: 5px;
    padding: 5px;
    background-color: lightcyan;
    color: black;
    text-align: center;
}
upload {
    background-color: #177199;
}