<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_list.css') }}">

</head>

<body>
<center><h1><img src="/static/images/ask_logo.png" width="20%" height="20%"></h1></center>
<h2><a href="{{ url_for('route_add') }}">
    <img alt="ADD"
         src="/static/images/add_button.png"
         width=50" height="50">
</a></h2>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table class="sortable" id="myTable">
    <tr>
        <th>Id</th>
        <th>Submission Time</th>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Question Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>

    {% for line in user_question %}
        <tr class="item">
            <td>{{ line.id }} </td>
            <td>{{ line.submission_time }} </td>
            <td>
                <center>{{ line.view_number }}</center>
            </td>
            <td>
                <center>{{ line.vote_number }}</center>
                <up><a href="">
                    <img alt="vote_up"
                         src="/static/images/up_button.png"
                         width=20" height="20"></a></up>

                <down><a href="">
                    <img alt="vote_down"
                         src="/static/images/down_button.png"
                         width=20" height="20"></a></down>
            </td>
            <td>{{ line.title }}</td>
            <td>{{ line.message }} </td>
            <td>{{ line.image }}
                <a href="">
                    <img alt="upload file"
                         src="/static/upload_file/image1.jpg"
                         width="70" height="50"></a></td>
            <td title="EDIT">
                <a href="{{ url_for('route_edit', question_id=line.id) }}">
                    <img alt="edit"
                         src="/static/images/edit_button.png"
                         width=70" height="30"></a></td>
            <td title="delete">
                <a href="">
                    <img alt="delete"
                         src="/static/images/delete_button.png"
                         width=35" height="35"></a></td>
        </tr>
    {% endfor %}
</table>
<br><br>
{#dla zabawy pliki coockies:D#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='cookie.css') }}">#}
{#<body>#}
{#  <div class="wrapper">#}
{#    <img src="/" alt="">#}
{#    <div class="content">#}
{#      <header>Cookies Consent</header>#}
{#      <p>This website use cookies to ensure you get the best experience on our website.</p>#}
{#      <div class="buttons">#}
{#        <button class="item">I understand</button>#}
{#        <a href="#" class="item">Learn more</a>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

{#  <script>#}
{#    const cookieBox = document.querySelector(".wrapper"),#}
{#    acceptBtn = cookieBox.querySelector("button");#}
{##}
{#    acceptBtn.onclick = ()=>{#}
{#      //setting cookie for 1 month, after one month it'll be expired automatically#}
{#      document.cookie = "CookieBy=CodingNepal; max-age="+60*60*24*30;#}
{#      if(document.cookie){ //if cookie is set#}
{#        cookieBox.classList.add("hide"); //hide cookie box#}
{#      }else{ //if cookie not set then alert an error#}
{#        alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");#}
{#      }#}
{#    }#}
{#    let checkCookie = document.cookie.indexOf("CookieBy=CodingNepal"); //checking our cookie#}
{#    //if cookie is set then hide the cookie box else show it#}
{#    checkCookie != -1 ? cookieBox.classList.add("hide") : cookieBox.classList.remove("hide");#}
{#  </script>#}

</body>

<center><footer id="STOPKA">Project CodeCool 2022</footer></center>
</body>
</html>